<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Style Guide</title>

    <link rel="stylesheet" href="css/main.css" />
</head>

<body>
    <section class="style-guide">
        <div class="container my-5">
            <h1 class="mb-5 color--blue">Style Guide</h1>
           
            <table class="table table-borderless">
                <tr>
                    <td class="pe-5" width="30%">
                        <h1>Colours</h1>
                        <p class="color--gray4 mb-2">Primaries and grays</p>
                        <p class="color--gray4">Primary Palette <br>
                            Only used in lettermarks and as accents in visuals</p>
                    </td>
                    <td>
                        <table class="table table-borderless w-auto">
                            <thead>
                                <tr>
                                    <td>
                                        <span class="color-swatches bg--blue"></span>
                                    </td>
                                    <td>
                                        <span class="color-swatches bg--white"> </span>
                                    </td>
                                    <td>
                                        <span class="color-swatches bg--black"></span>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="color--gray4">
                                            SAMSUNG BLUE<br />
                                            #9E9E9E<br />
                                            --blue
                                        </span>
                                    </td>
                                    <td>
                                        <span class="color--gray4">
                                            SAMSUNG White<br />
                                            #9E9E9E<br />
                                            --white
                                        </span>
                                    </td>
                                    <td>
                                        <span class="color--gray4">
                                            SAMSUNG Black<br />
                                            #9E9E9E<br />
                                            --black
                                        </span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="height: 50px"></td>
                </tr>
                <tr>
                    <td class="pe-5" width="30%">
                        <p class="color--gray4 mb-2">Secondary Colour Palette</p>
                        <p class="color--gray4">Grays Palette<br>
                            Variations of gray are used to create page breaks, roll over highlights, or rules</p>
                    </td>
                    <td>
                        <table class="table table-borderless w-auto">
                            <thead>
                                <tr>
                                    <td class="p-0">
                                        <span class="color-swatches secondary bg--gray1"></span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color-swatches secondary bg--gray2"> </span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color-swatches secondary bg--gray3"></span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color-swatches secondary bg--gray4"></span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color-swatches secondary bg--gray5"></span>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="p-0">
                                        <span class="color--gray4">
                                            GRAY 1<br />
                                            #363636<br />
                                            --gray1
                                        </span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color--gray4">
                                            GRAY 2<br />
                                            #6E6E6E<br />
                                            --gray2
                                        </span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color--gray4">
                                            GRAY 3<br />
                                            #767676<br />
                                            --gray3
                                        </span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color--gray4">
                                            GRAY 4<br />
                                            #9E9E9E<br />
                                            --gray4
                                        </span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color--gray4">
                                            GRAY 5<br />
                                            #AAAAAA<br />
                                            --gray5
                                        </span>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="pe-5" width="30%"></td>
                    <td>
                        <table class="table table-borderless w-auto">
                            <thead>
                                <tr>
                                    <td class="p-0">
                                        <span class="color-swatches secondary bg--gray6"></span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color-swatches secondary bg--gray7"> </span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color-swatches secondary bg--gray8"></span>
                                    </td>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="p-0">
                                        <span class="color--gray4">
                                            GRAY 6<br />
                                            #D6D6D6<br />
                                            --gray6
                                        </span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color--gray4">
                                            GRAY 7<br />
                                            #E5E5E5<br />
                                            --gray7
                                        </span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color--gray4">
                                            GRAY 8<br />
                                            #F7F7F7<br />
                                            --gray8
                                        </span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="height: 50px"></td>
                </tr>
                <tr>
                    <td class="pe-5" width="30%">
                        <p class="color--gray4">UI Colour Theme</p>
                        <p class="color--gray4">Color theme is used to create component background or rules.</p>
                    </td>
                    <td>
                        <table class="table table-borderless w-auto">
                            <thead>
                                <tr>
                                    <td class="p-0">
                                        <span class="color-swatches secondary bg--sky-blue"></span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color-swatches secondary bg--sea-blue"> </span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color-swatches secondary bg--saffron"></span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color-swatches secondary bg--coral"></span>
                                    </td>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="p-0">
                                        <span class="color--gray4">
                                            Sky Blue<br />
                                            #0077C8<br />
                                            --sky-blue
                                        </span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color--gray4">
                                            Sea Blue<br />
                                            #00B3E3<br />
                                            --sea-blue
                                        </span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color--gray4">
                                            Saffron<br />
                                            #FFB546<br />
                                            --saffron
                                        </span>
                                    </td>
                                    <td class="p-0">
                                        <span class="color--gray4">
                                            Coral<br />
                                            #D93830<br />
                                            --coral
                                        </span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="height: 50px"></td>
                </tr>
                <tr class="mt-5">
                    <td class="pe-5" width="30%">
                        <h1>Typography</h1>
                        <p class="color--gray4">Samsung Sharp Sans with Samsung One</p>
                    </td>
                    <td>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="color--gray4" style="width: 25%;">
                                        <code class="color--gray4">&lt;h1&gt;&lt;/h1&gt;</code><br />
                                        .h1
                                    </td>
                                    <td>
                                        <span class="h1">Samsung Sharp Sans</span><br />
                                    </td>
                                </tr>

                                <tr>
                                    <td class="color--gray4">
                                        <code class="color--gray4">&lt;h2&gt;&lt;/h2&gt;</code><br />
                                        .h2
                                    </td>
                                    <td><span class="h2">Samsung Sharp Sans</span></td>
                                </tr>
                                <tr>
                                    <td class="color--gray4">
                                        <code class="color--gray4">&lt;h3&gt;&lt;/h3&gt;</code><br />
                                        .h3
                                    </td>
                                    <td><span class="h3">Samsung Sharp Sans</span></td>
                                </tr>
                                <tr>
                                    <td class="color--gray4">
                                        <code class="color--gray4">&lt;h4&gt;&lt;/h4&gt;</code><br />
                                        .h4
                                    </td>
                                    <td><span class="h4">Samsung Sharp Sans</span></td>
                                </tr>
                                <tr>
                                    <td class="color--gray4">
                                        Content title<br />
                                        .title
                                    </td>
                                    <td><span class="title">Samsung Sharp Sans</span></td>
                                </tr>
                                <tr>
                                    <td class="color--gray4">
                                        Content subtitle<br />
                                        .sub-title
                                    </td>
                                    <td><span class="sub-title">Samsung Sharp Sans</span></td>
                                </tr>
                                {{!-- <tr>
                                    <td class="color--gray4">
                                        Button Tab<br />
                                        .tab-text
                                    </td>
                                    <td><span class="tab-text">Samsung Sharp Sans</span></td>
                                </tr> --}}
                                <tr>
                                    <td class="color--gray4">
                                        Body Large<br />
                                        .body-large
                                    </td>
                                    <td><span class="body-large">Samsung Sharp Sans</span></td>
                                </tr>
                                <tr>
                                    <td class="color--gray4">
                                        Body<br />
                                        <code class="color--gray4">&lt;p&gt;&lt;/p&gt;</code><br />
                                    </td>
                                    <td><p>Samsung Sharp Sans</p></td>
                                </tr>
                                <tr>
                                    <td class="color--gray4">
                                        Small<br />
                                        .small
                                    </td>
                                    <td><p class="small">Samsung Sharp Sans</p></td>
                                </tr>
                                

                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="height: 50px"></td>
                </tr>
                <tr>
                    <td class="pe-5" width="30%">
                        <h1>Buttons</h1>
                    </td>
                    <td>
                        <table class="table">
                            <tr>
                                <td class="color--gray4" style="width: 25%;">
                                    Default Link
                                </td>
                                <td>
                                    <a href="#" class="link">Discover more</a><br>
                                    <span class="color--gray4">.link</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="color--gray4">
                                    Tab Link
                                </td>
                                <td>
                                    <a href="#" class="link link-tab">Smart Signage</a><br>
                                    <span class="color--gray4">.link.link-tab</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="color--gray4">
                                    Primary Button
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary">Discover more</a><br>
                                    <span class="color--gray4">.btn.btn-primary</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="color--gray4">
                                    Black Border Button
                                </td>
                                <td>
                                    <a href="#" class="btn btn-outline-primary">Discover more</a><br>
                                    <span class="color--gray4">.btn.btn-outline-primary</span>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</body>

</html>